body {
  font-family: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  font-family: 'Montserrat', sans-serif;
}

header {
  display: flex;
  width: 85%;
  height: 10vh;
  margin: auto;
  align-items: center;
}

.logo-container,
.nav-links,
.cart {
  display: flex;
}

.logo-container {
  flex: 1;
}

.logo {
  font-weight: 400;
  margin: 5px;
}

nav {
  flex: 2;
}

.nav-links {
  justify-content: space-around;
  list-style: none;
}

.nav-link {
  color: #494975;
  font-size: 1.12em;
  text-decoration: none;
}

.cart {
  flex: 1;
  justify-content: flex-end;
}

.presentation {
  display: flex;
  width: 88%;
  margin: auto;
  min-height: 80vh;
  align-items: center;
}

.introduction {
  flex: 1;
}

.intro-text h1 {
  font-size: 2.6em;
  font-weight: 500;
  background: linear-gradient(to right, #cf5676, #6f6f99);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro-text p {
  margin-top: 5px;
  font-size: 1.2em;
  color: #585772;
}

.cta {
  padding-top: 50px;
}

.cta-select {
  border: 2px solid #c366bb;
  background: transparent;
  color: #c34abb;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 1.1em;
}

.cta-add {
  background: #c366bb;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 1.1em;
  border: none;
  color: white;
  margin: 15px 0 0 15px;
}

.cover {
  display: flex;
  flex: 1;
  height: 60vh;
  justify-content: center;
}

.cover img {
  height: 100%;
  filter: drop-shadow(0 5px 3px #111);
  animation: drop 0.5s ease;
}

.big-circle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  opacity: 0.3;
  height: 78%;
}

.medium-circle {
  position: absolute;
  top: 30%;
  right: 31%;
  z-index: -1;
  height: 58%;
  opacity: 0.25;
}

.small-circle {
  position: absolute;
  left: 24%;
  bottom: 0;
  z-index: -1;
  opacity: 0.5;
}

.laptop-select {
  display: flex;
  width: 18%;
  justify-content: space-around;
  position: absolute;
  right: 20%;
}

@keyframes drop {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 1024px) {
  .presentation {
    flex-direction: column;
  }

  .introduction {
    margin-top: 5vh;
    text-align: center;
  }

  .intro-text h1 {
    font-size: 2em;
  }

  .intro-text p {
    font-size: 1.11em;
  }

  .cta {
    padding: 10px 0 0 10px;
  }

  .laptop-select {
    bottom: 5%;
    right: 50%;
    width: 26%;
    transform: translate(50%, 5%);
  }

  .cover img {
    height: 80%;
  }

  .small-circle,
  .medium-circle,
  .big-circle {
    opacity: 0.15;
  }
}
