* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat';
}
button {
    font-family: 'Montserrat';
}
header {
    display: flex;
    width: 85%;
    height: 10vh;
    margin: auto;
    align-items: center;
}
.logo-container, .nav-links, .cart {
    display: flex;
} 
.logo-container {
    flex: 1;

}
.logo {
    font-weight: 400;
    margin: 5px;
}
nav {
    flex: 2;

}
.nav-links {
    justify-content: space-around;
    list-style: none;
}
.nav-link{
    color: #494975;
    font-size: 1.12em;
    text-decoration: none;
}
.cart {
    flex: 1;
    justify-content: flex-end;
}
.presentation {
    display: flex;
    width: 85%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
}
.introduction {
    flex: 1;
}
.intro-text h1{
    font-size: 2.6em;
    font-weight: 500;
    background: linear-gradient(to right, #CF5676, #6F6F99);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.intro-text p{
    margin-top: 5px;
    font-size: 1.2em;
    color: #585772;
}
.cta {
    padding: 50px 0px 0px 0px;
}
.cta-select {
    border: 2px solid #C366BB;
    background: transparent;
    color: #C34ABB;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 1.1em;
    margin: 0 15px 15px 0;
}
.cta-add {
    background: #C366BB;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 1.1em;
    border: none;
    color: white;
}
.cover {
    flex: 1;
}
.cover img {
    height: 60vh;
    filter: drop-shadow(0px 5px 3px #111);
    animation: drop 0.5s ease;
}
.big-circle {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -1;
    opacity: 0.3;
    height: 78%;
}
.medium-circle {
    position: absolute;
    top: 30%;
    right: 31%;
    z-index: -1;
    height: 58%;
    opacity: 0.25;
}
.small-circle {
    position: absolute;
    left: 24%;
    bottom: 0;
    z-index: -1;
    opacity: 0.5;
}
.laptop-select {
    display: flex;
    width: 18%;
    justify-content: space-around;
    position: absolute;
    right: 20%;
}

@keyframes drop {
    0% {
        opacity: 0;
        transform: translateY(-80px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}